

</head>
<body>
  <h1 id="crypto-list">Crypto<b>List</b></h1>
  <!-- Displays the list of coins fetched from DB -->
 
 <ul class="nav justify-content-end nav-bar" id="list-navbar">

  <li class="nav-item">
    <a class="nav-link active up-login-btn" href="/dashboard">View Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active up-login-btn" href="/user-profile"> Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active up-login-btn" href="/logout">Logout</a>
  </li>

</ul>
<div class="table-bg" style="width:790px; height: 380px;" >
<div class="crypto-table">
  <table class="table table-borderless" id="text">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Symbol</th>
    </tr>
  </thead>
  <tbody>
  {{#each cryptos}}
  <tr>
    <td><img src="{{image}}" id="img-list"></td>
    <td>{{name}}</td>
    <td>{{symbol}}</td>
    <td>
      <form action="/list/{{_id}}" method="POST">
        <button
          type="submit"
          class="btn btn-primary"
          style="background-color: transparent;"
          id="favorite-btn"
        >Add to Portfolio</button>
      </form>
    </td>
    </div>
        
    </div>
     <td>
      {{#unless image}}
            <form action="/delete/{{_id}}" method="POST">
        <button type="submit" id="remove-btn">Remove Token</button>
      </form>
      {{/unless}}
    </td> 
  </tr>
  {{/each}}
</tbody>
</table> 
 
</div>


  <div class="create-wrap">
  <h3 class="text-center" id="welcome"><b>Create</b> your own Crypto!</h3>

 <form action="/list" class="signup-form" method="post">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Symbol ex:btc" name="symbol" id="username-field"/>
      <br>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Token name" name="name" id="password-field"
      />
    </div>
    <br>
    <div class="form-group" id="login-btn-box">
    
      <br />
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-primary"
          style="background-color: transparent;"
          id="login-btn"
        >Create</button>
    </div>
  </form>
</div>  



</body>
</html>


