

</head>
<body>
  <h1 id="crypto-list">Crypto <b>List</b></h1>
  <!-- Displays the list of coins fetched from DB -->
 
 <ul class="nav justify-content-end nav-bar" id="list-navbar">

  <li class="nav-item">
    <a class="nav-link active up-login-btn" href="/dashboard">View Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active up-login-btn" href="/user-profile"> Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active up-login-btn" href="/signup">Logout</a>
  </li>

</ul>


 <table class="table table-sm" id="text">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">symbol</th>
      <th scope="col">Favorite</th>
    </tr>
  </thead>
  <tbody>
  {{#each cryptos}}
  <tr>
    <td>{{@index}}</td>
    <td><img src="{{image}}"></td>
    <td>{{name}}</td>
    <td>{{symbol}}</td>
    <td>
      <form action="/list/{{_id}}" method="POST">
        <button type="submit">Add to favorite</button>
      </form>
    </td>
  </tr>
  {{/each}}
</tbody>
</table> 

</body>
</html>


